body {
	padding: 10px
}

.container {
	padding: 20px;
	max-width: 900px;
	margin: auto;
	margin-top: 20px;
	border: 3px solid #eee;
	border-radius: 5px
}

.banner {
	margin-bottom: 20px
}

.status-disconnected {
	background-color: red;
	color: #fff;
	padding: 9px;
	width: 100%;
	display: block;
	border-radius: 5px
}

.status-connected {
	background-color: green;
	color: #fff;
	padding: 9px;
	width: 100%;
	display: block;
	border-radius: 5px
}

.break {
	background: linear-gradient(90deg, #1abc9c 20%, #3498db 40%, #f1c40f 60%, #e74c3c 80%);
	height: 3px;
	width: 100%;
	border-radius: 3px;
	margin: 20px 10px 0 0
}

.break2 {
	background-color: #eee;
	height: 3px;
	width: 100%;
	border-radius: 3px;
	margin: 20px 10px 0 0
}

.info {
	width: 100%;
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center
}

.info-status {
	width: 100%;
	border: 2px solid #eee;
	border-radius: 3px;
	padding: 10px
}

.info-title {
	background-color: #f1f2f6;
	width: 100%;
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 5px
}

.inscoin {
	width: 100%;
	border: 2px solid #eee;
	border-radius: 3px;
	padding: 10px
}

.inscoinholder {
	display: block;
	height: 50px;
	margin-top: 10px
}

.status-holder {
	display: block;
	padding: 10px;
	font-size: 13px;	
	width: 100%
}


#vendoSelectDiv {
	margin-bottom: 20px
}


.holder {
	height: 50px;
	width: 100%;
	border: 2px solid: #eee;
	padding: 10px;
	display: block
}

.modal-body {
	height: auto !important;
	width: 100%
}


